* {
    margin: 0;
    padding: 0;
}

body {
    color: #666;
    background: #e8f5ca url(tree1.gif)  right no-repeat;
    
    font: 76%/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}






a img {
    border: 0;
}

#header {
    background: #316241 url(header-bottom-border.gif) bottom left repeat-x;
    height: 80px;
    overflow: auto;
}

#header h1 {
    float: left;
    margin-left: 1em;
    display: inline;
    height: 70px;
    width: 236px;
}

#header h1 a {
    display: block;
    text-decoration: none;
    text-indent: -5000px;
    height: 70px;
    width: 336px;
    background: #316241 url(logo.gif) top left;
}

#header #nav-main {
    float: right;
    text-align: right;
    color: #fff;
    font-weight: bold;
    margin-top: 45px;
    margin-right: 1em;
    display: inline;
}

#header #nav-main a {
    color: #fff;
}

#header #nav-main span {
    float: left;
    padding-top: 5px;
    margin-right: 0.75em;
}

#header #nav-main #logout {
    display: block;
    margin: 3px 0.75em 0 0.5em;
    height: 19px;
    width: 80px;
    background: url(../img/sign_out.gif) top left no-repeat;
    text-align: center;
    padding-top: 2px;
}

#header #nav-main #logout a {
    text-decoration: none;
    text-transform: uppercase;
}

#header #nav-main ul {
    list-style-type: none;
    float: left;
    padding-top: 3px;
}

#header #nav-main ul li {
    text-align: center;
    float: left;
    display: inline;
    padding-bottom: 6px;
    margin: 0 2px;
    width: 80px;
    background: url(nav_tab_inactive.gif) top left no-repeat;
}

body.snippets #header #nav-main ul li#nav-snippets, body.account #header #nav-main ul li#nav-account, body.about #header #nav-main ul li#nav-about {
    background: url(nav_tab.gif) top left no-repeat;
}

#header #nav-main ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 115%;
}

#nav-secondary {
    list-style-type: none;
    float: right;
    margin-right: 1em;
    margin-top: 0.5em;
    display: inline;
}

#nav-secondary li {
    display: inline;
    padding-right: 1em;
}

#nav-secondary li a {
    font-weight: bold;
}

h2 {
    font-size: 1.7em;
    color: #000;
    margin: 40px 10px 0 20px;
}

h7 {
    font-size: 16px;
    font-weight:normal;
    color: #000;
    
}


#content {
    border-top: 1px solid #ccc;
    padding-right: 2em;
    height: 100%;
    margin: 0 20px 2em 20px;
    
    
}

#content #form_table{
	height:100px;
	position:absolute;
	top: 200px;
}

#content #main {
    width: 65%;
    float: left;
    padding-bottom: 4em;
}
#content #main_search {
	 width: 30%;
    float: left;
    overflow:auto;
    border-right: 1px solid #ccc;
}

#content #main div.highlight {
    width: 90%;
    overflow: auto;
    padding: 0.5em;
    font-family: "Andale Mono";
}

#content #main div.highlight pre {
    font-family: "Bitstream Vera Sans Mono", "Andale Mono", "Courier New", monospace;
}

#content #main div.highlight table td.linenos {
    padding-right: 1em;
}

#content #main ul, #content #main ol {
    margin: 1em 0 1em 20px;
}

#content #main ul {
    list-style-type: square;
}

#content #main li {
    margin: 0.5em 1em 0.5em 0;
}

#content #main dl {
    margin-top: 1em;
}

#content #main dt {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#content #main dt label {
    font-weight: bold;
}

#content #main dd {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#content #main dd textarea {
    width: 80%;
    height: 200px;
}

#content #main h3 {
    margin: 1em 0;
}

#content #main p {
    margin: 1em 1em 1em 0;
}
#content #main a{
	 text-decoration: none;
    font-weight: normal;
    font-size: 15px;
 }
#content #main_search #ddc {
	height:200px;
	overflow:auto;
	background:#d7ef9e;
} 
#content #space{
	height:300px;
}

#content #spacer{
	height:40px;
}	
#content #main .error {
    color: red;
}

#content #sidebar {
    width: 65%;
    height: 330px;
    margin: 2px;
    font-size:15px;
    overflow: auto;
    float: left;
        
}

#content #sidebar p {
    margin: 0.5em 1em;
}

#content #sidebar dl {
    margin: 0.5em 1em;
}

#content #sidebar h1, #content #sidebar h2 {
    font-size: 100%;
    margin: 0.5em 1em;
}

#content #sidebar pre, #content #sidebar blockquote {
    margin: 1em 0 1em 40px;
}

#content #sidebar dl dt, #content #sidebar dl dd {
    float: left;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

#content #sidebar dl dt {
    clear: left;
    font-weight: bold;
}

#content #sidebar h3 {
    clear: left;
    font-size: 110%;
    margin: 0.5em 1em;
    padding-top: 1em;
}

#content #sidebar ul {
    clear: left;
    margin: 0.5em 1em;
    list-style-type: none;
}

#content #sidebar ol {
    clear: left;
    margin-left: 4em;
}

#content #sidebar li {
    margin-bottom: 0.5em;
}

#comments {
    clear: left;
}

#comments h2 {
    border-bottom: 1px solid #ccc;
}

#comments dl {
    margin: 1em 0 1em 20px;
    width: 40%;
}

#comments dl dt {
    margin-bottom: 1em;
}

#comments dl dd {
    margin-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
}

#comments dl dd p, #comments dl dd ul, #comments dl dd ol, #comments dl dd blockquote {
    margin: 1em 0;
}

#comments dl dd li, #comments dl dd blockquote {
    margin-left: 1em;
}

#comments dl dd ul li {
    list-style-type: square;
}

#comments dl dd ol li {
    list-style-type: decimal;
}

#comments form dl {
    margin: 1em 0 1em 20px;
}

#comments form dl dt {
    margin-bottom: 0;
}

#comments form dl dd {
    margin-top: 0;
    border-bottom: 0;
}

#comments form p {
    margin: 1em 0 1em 20px;
}

#footer {
    position:relative;
    bottom:0px;
    right:0px;
    clear: left;
    background-color: #316241;
    color: #fff;
    margin-top: 2em;
    width: 100%;
    overflow: auto;
}

#footr h1 a{
	background: url(tree.jpg) bottom right no-repeat;
}

#footer a:link, a:visited,  a:active {
    color: #92c447;
}

#footer div.chunk {
    margin-top: 1em;
    margin-left: 10px;
    width: 25%;
    float: left;
    margin-bottom: 2em;
}

#footer div.chunk h3 {
    font-size: 80%;
}

#footer div.chunk ul {
    list-style-type: none;
}

#footer #copyright {
    clear: left;
    padding-top: 1em;
    margin-bottom: 1em;
    margin-left: 20px;
}
