{%  extends "base.html" %}
{%  block title %}Credits{% endblock %}
{%  block head %}Credits{% endblock %}
{%  block content %}
<div id="main">
  <p>Credits</p>
<ul>
<li>Centre for South Indian Studies, Thiruvanathapuram</li>
<li>Beehive Digital Concepts, Cochin</li>
<li>Swathanthra Malayalam Computing (SMC)</li>
<li>Compilation and General Editor: K.M. Govi</li>
<li>Structuring and Classifying: K.H. Hussain</li>
<li>Programming: K.P.N. Unni (Kriyate)</li>
<li>Systemization: Mahesh M. (Kriyate)</li>
<li>Project Co-ordination: Dr. R. Raman Nair</li>
</ul>
<p>MalayalaGrandhaVivaram Task Force on Bibliographic Data Updation</p>
<ul>
	<li>K.M. Govi (Chairman)</li>
	<li>K.H. Hussain (Convenor)</li>
	<li>Lalitha Lenin</li>
	<li>Dr. R. Raman Nair</li>
	<li>K. Rajendran</li>
	<li>P.M. Abdul Kadir</li>
	<li>Anivar Aravind</li>
 <ul>
{% endblock %}