{%  extends "base.html" %}
{%  block title %}Welcome{% endblock %}
{%  block head %}മലയാളഗ്രന്ഥവിവരത്തിലേയ്ക്കു് സ്വാഗതം{% endblock %}
{%  block content %}
<div id="main">
   <a>﻿ഇന്ത്യന്‍ഭാഷകളില്‍ സമാനതകളില്ലാത്ത പ്രവര്‍ത്തനമാണു് കെ.എം. ഗോവിയുടെ നേതൃത്വത്തില്‍ പ്രകാശിതമായ മലയാളഗ്രന്ഥസൂചി.
    പത്തു് വാല്യങ്ങളില്‍ പതിനായിരത്തോളം പേജുകളിലായി മലയാളത്തിലെ ആദിമുദ്രണംമുതല്‍ 1995 വരെ പ്രകാശിതമായ മുഴുവന്‍ പുസ്തകങ്ങളുടെയും 
    വിവരം ശാസ്ത്രീയമായി ചിട്ടപ്പെടുത്തി മലയാളഗ്രന്ഥസൂചിയില്‍ സമാഹരിച്ചിരിക്കുന്നു. നാലുപതിറ്റാണ്ടു നീണ്ട സാഫല്യമാണു് ഈ കൃതി. 
    മാതൃഭാഷയുടെ പൈതൃകം സംരക്ഷിക്കുന്ന പ്രവര്‍ത്തനം നിശ്ശബ്ദമായി, ഒരു തപസ്യയായി നിര്‍വ്വഹിക്കുന്ന കെ.എം. ഗോവിയുടെ മലയാളഗ്രന്ഥസൂചിയില്‍നിന്നും 
    പ്രചോദനം ഉള്‍ക്കൊണ്ടാണു് മലയാളഗ്രന്ഥവിവരം സംവിധാനംചെയ്തിരിക്കുന്നതു്. ഈ വിവരശേഖരം ഏത് ഉപയോക്താവിനും സ്വതന്ത്രമായി
     ഉപയോഗിക്കാവുന്നതരത്തില്‍ ഗ്നു- ജനറല്‍ പബ്ലിക് ലൈസന്‍സില്‍ (GNU-GPL) പ്രകാശിപ്പിക്കപ്പെടുക എന്നതു് അദ്ദേഹത്തിന്റെ സ്വപ്നമായിരുന്നു. 
     മലയാളത്തിലെ പ്രസാധനചരിത്രത്തിലെ സുപ്രധാന നാഴികക്കല്ലായ ഈ വിവരവ്യവസ്ഥ ശ്രീ. കെ.എം. ഗോവിക്കായി സമര്‍പ്പിക്കുന്നു.</a>
  <div id="spacer"></div>   
  <form action="/search/"><input type="submit" value="Search"/></form>   
 </div>
 <div id="space"></div>
{% endblock %}